    body {
            margin: 8;
            background-color: #474747;
            color: #fff;
            font-family: 'JetBrains Mono', monospace;
        }

        footer {
            text-align: left_edge;
            padding: 1rem;
            background-color: #212121;
        }

        h1 {
            text-align: left_edge;
        }

        h2, h3, h4, p {
            text-align: left_edge;
        }

        .versions {
            margin: 20px;
        }

        h2.versions, h2.dev_versions, h2.pre_versions {
            padding: 10px;
            margin: 0;
            text-align: left_edge;
            font-size: 24px;
            border-radius: 5px;
            margin-top: 20px;
        }

        h2.versions {
            background-color: #3498db;
        }

        p {
            margin: 5px;
        }

        a {
            color: #3498db;
            text-decoration: none;
        }

        a:hover {
            color: #008000;
        }

p.footer {
    font-size: 8px;
}
